.{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    background-color: #F6DEFF;
    background-image: url(Rectangle\ 50.png);
    position: relative;
    width: 1440px;
height: 1024px;
}
.hello{
    position:absolute;
    height:auto;
    left:0px;
    width:250px;
}
.logo{
    position: absolute;
    width: 447px;
    height: 83;
    left: 1450px;
    top:40px;
}
.d{
    position: absolute;
    width: 362px;
    height: 353px;
    left: 150px;
    top: 140px;
    
}
.h{
position: absolute;
width: 362px;
height: 353px;
left: 750px;
top: 136px;

}
.l{
position: absolute;
width: 362px;
height: 353px;
left: 1350px;
top: 136px;
}
.m{
position: absolute;
width: 362px;
height: 353px;
left: 150px;
top: 534px;
}
.u{
position: absolute;
width: 362px;
height: 353px;
left: 750px;
top: 534px;
}
.s{
    position: absolute;
    width: 362px;
    height: 353px;
    left: 1350px;
    top: 534px;
}

    